#container {
  width: 900px;
  height: 900px;
  position: relative;
  background:  palevioletred;
  cursor: pointer;

}

#animation1 {
  width: 420px;
  height: 90px;
  position: absolute;
  background:  transparent;
  border: 3px yellow solid;
  transition: transform .5s, background 10s;

}

#animation1:hover {
    background-color: aqua;
}

#animation1:active{
    transform: scale(2);
}

#animation2 {
  width: 70px;
  height: 50px;
  position: absolute;
  background: purple;
  border: 2px black solid;
  transition: transform .2s, background .5s, left .5s ease-out, top .5s ease-out;

}

#animation3 {
  width: 70px;
  height: 50px;
  position: absolute;
  border: 2px black solid;

}





@keyframes example {
    0%   {opacity: .33;}
    25% {opacity: .66;}
    50% {opacity: .88;}
    100% {opacity: 1;}
}



#animation2 {
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}

@keyframes example2 {
    0%   {background-color: red;}
    25%  {background-color: brown;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}



#animation3 {
    animation-name: example2;
    animation-duration: 10s;
     animation-iteration-count: infinite;

}


